## Comments

In [1]:
"""
This is a comment


a
"""
# this is a comment
3+5

8

## Arithmetic types and operations

In [2]:
x = 5
type(x)

int

In [3]:
x = 6.7
type(x)

float

In [4]:
x = 6.7e-1
type(x)

float

In [5]:
a = 1
a

1

In [6]:
a = a + 1
a

2

In [7]:
a += 1
a

3

In [8]:
b = 3
b

3

In [9]:
b = b - 1
b

2

In [10]:
b -= 1
b

1

In [11]:
2 * 5

10

In [12]:
10 / 2

5.0

In [13]:
10 / 3

3.3333333333333335

In [14]:
10 // 3

3

In [15]:
10 % 3

1

In [16]:
2**3

8

In [17]:
2 * (5 + 3) == 2 * 5 + 3

False

## Text types and operations

In [18]:
"This is a test"

'This is a test'

In [19]:
'This is a test'

'This is a test'

In [20]:
"""
This is 

a test
"""

'\nThis is \n\na test\n'

In [21]:
example_text = 'This is the first sentence. This is the second.'
example_text

'This is the first sentence. This is the second.'

In [22]:
example_text[4:]

' is the first sentence. This is the second.'

In [23]:
example_text[::-1]

'.dnoces eht si sihT .ecnetnes tsrif eht si sihT'

In [24]:
protein_sequence = 'JDNCJSKEMCJDN'
protein_sequence[::-1]

'NDJCMEKSJCNDJ'

In [25]:
ex = 'testing'
ex

'testing'

In [26]:
find_var = 'there comes the rain'
find_var.find('the')

0

In [27]:
find_var = 'there comes the rain'
find_var.find('the')

0

In [28]:
ex[::2]

'tsig'

In [29]:
ex[::-2]

'gist'

In [30]:
ex[-2::-2]

'nte'

In [31]:
ex

'testing'

In [32]:
len(ex)

7

In [33]:
find_var = 'Santorini, Greece'
result = find_var.find('Greece')
if result >= 0:
    print('ok')

ok

In [34]:
find_var = 'Rome, Italy'
result = find_var.find('Greece')
if result >= 0:
    print('ok')

In [35]:
replace_var = 'Milan (Italian city), Itali'
replace_var = replace_var.replace(', Itali', ', Italy')
print(replace_var)

Milan (Italian city), Italy

In [36]:
count_var = 'there comes the rain'
count_var.count('the')

2

In [37]:
number_var = '155'
number_var

'155'

In [38]:
number_var = int(number_var)
number_var

155

In [39]:
number_var_corrected = str(number_var - 10)
number_var_corrected

'145'

In [40]:
int('hi')

ValueError: invalid literal for int() with base 10: 'hi'

In [45]:
s = input()

test

In [42]:
temperature = 25.6767657
temp_text = "The temperature outside is %s degrees" %(temperature)
print(temp_text)

The temperature outside is 25.6767657 degrees

In [43]:
temperature
t = "%1.2f" %(temperature)
t

'25.68'

In [44]:
round(temperature, 2)

25.68

## String formatting

In [46]:
temperature = 25.6767657
date='2022-10-13'
# temp_text = f"The temperature outside is {temperature} degrees"
temp_text = f"The temperature outside is {round(temperature, 2)} degrees. Date: {date}"
temp_text

'The temperature outside is 25.68 degrees. Date: 2022-10-13'