In [22]:
import pandas as pd


x = {'key': ['key_1','key_2' ], '2': [1,2]}
y = {'keys': ['key_1','key_2','key_3'], '2': ['one','two','three']}

x = pd.DataFrame(x)
y = pd.DataFrame(y)

In [2]:
x['keys'] = x['key'] 

x

     key  2   keys
0  key_1  1  key_1
1  key_2  2  key_2

In [23]:
y

    keys      2
0  key_1    one
1  key_2    two
2  key_3  three

In [5]:
pd.merge( x, y, how = 'right', on = 'keys')

     key  2_x   keys    2_y
0  key_1  1.0  key_1    one
1  key_2  2.0  key_2    two
2    NaN  NaN  key_3  three

In [6]:
pd.merge( y, x, how = 'left', on = 'keys' )

    keys    2_x    key  2_y
0  key_1    one  key_1  1.0
1  key_2    two  key_2  2.0
2  key_3  three    NaN  NaN

In [8]:
pd.merge( x, y, on = 'keys' )

     key  2_x   keys  2_y
0  key_1    1  key_1  one
1  key_2    2  key_2  two

In [18]:
x = {'key': ['key_1','key_2','key_3','key_4' ], 'numbers': [1,2,3,4]}
x = pd.DataFrame(x)
x

     key  numbers
0  key_1        1
1  key_2        2
2  key_3        3
3  key_4        4

In [19]:
x['letters'] = ['one','two','three','four']

x

     key  numbers letters
0  key_1        1     one
1  key_2        2     two
2  key_3        3   three
3  key_4        4    four

In [21]:
x['letter'] = x['letters']

x.drop('letters', axis=1, inplace = True)

x

     key  numbers letter
0  key_1        1    one
1  key_2        2    two
2  key_3        3  three
3  key_4        4   four