# Import Libraries

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('df_market_basket.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35013 entries, 0 to 35012
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    35013 non-null  int64
 1   antecedent                    35013 non-null  object
 2   Cons_Product                  35013 non-null  object
 3   support_itemset_absolute      35013 non-null  int64
 4   support_itemset_relative_pct  35013 non-null  float64
 5   confidence_pct                35013 non-null  float64
 6   lift                          35013 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 1.9+ MB

In [5]:
df.head()

,Unnamed: 0,antecedent,Cons_Product,support_itemset_absolute,support_itemset_relative_pct,confidence_pct,lift
0,23767,"('Google Glass Bottle',)",Google Cup Cap Tumbler Grey,1277,9.148220,83.573298,8.980752
1,23765,"('Google Glass Bottle',)",Google Campus Bike Bottle,1299,9.305824,85.013089,8.935977
2,23705,"('Google Blue Stojo Cup',)",Google Land & Sea Tech Taco,1402,10.043699,91.994751,8.893038
3,23704,"('Google Land & Sea Tech Taco',)",Google Blue Stojo Cup,1402,10.043699,97.091413,8.893038
4,23766,"('Google Glass Bottle',)",Google Mural Bottle,1286,9.212694,84.162304,8.873275