In [1]:
from pymongo import MongoClient

In [2]:
client = MongoClient('mongodb://bigblue_user:3MmY2&PE@49.12.227.17:27017/?authSource=admin')

In [3]:
collection = client ['learn']['restaurants']

In [4]:
collection.find_one()

{'_id': ObjectId('6049400e32c9cd22009c629c'),
 'address': {'building': '469',
  'coord': [-73.961704, 40.662942],
  'street': 'Flatbush Avenue',
  'zipcode': '11225'},
 'borough': 'Brooklyn',
 'cuisine': 'Hamburgers',
 'grades': [{'date': datetime.datetime(2014, 12, 30, 0, 0),
   'grade': 'A',
   'score': 8},
  {'date': datetime.datetime(2014, 7, 1, 0, 0), 'grade': 'B', 'score': 23},
  {'date': datetime.datetime(2013, 4, 30, 0, 0), 'grade': 'A', 'score': 12},
  {'date': datetime.datetime(2012, 5, 8, 0, 0), 'grade': 'A', 'score': 12}],
 'name': "Wendy'S",
 'restaurant_id': '30112340'}

In [9]:
cursor = collection.find({'name':"Wendy'S"})
res = list(cursor)
res [:2]

[{'_id': ObjectId('6049400e32c9cd22009c629c'),
  'address': {'building': '469',
   'coord': [-73.961704, 40.662942],
   'street': 'Flatbush Avenue',
   'zipcode': '11225'},
  'borough': 'Brooklyn',
  'cuisine': 'Hamburgers',
  'grades': [{'date': datetime.datetime(2014, 12, 30, 0, 0),
    'grade': 'A',
    'score': 8},
   {'date': datetime.datetime(2014, 7, 1, 0, 0), 'grade': 'B', 'score': 23},
   {'date': datetime.datetime(2013, 4, 30, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2012, 5, 8, 0, 0), 'grade': 'A', 'score': 12}],
  'name': "Wendy'S",
  'restaurant_id': '30112340'},
 {'_id': ObjectId('6049400e32c9cd22009c6502'),
  'address': {'building': '3636',
   'coord': [-73.8421735, 40.8794229],
   'street': 'Boston Road',
   'zipcode': '10469'},
  'borough': 'Bronx',
  'cuisine': 'Hamburgers',
  'grades': [{'date': datetime.datetime(2014, 11, 17, 0, 0),
    'grade': 'A',
    'score': 9},
   {'date': datetime.datetime(2014, 6, 25, 0, 0), 'grade': 'A', 'score': 3},
   {'date': datetime.datetime(2013, 6, 14, 0, 0), 'grade': 'A', 'score': 7},
   {'date': datetime.datetime(2012, 6, 6, 0, 0), 'grade': 'A', 'score': 6},
   {'date': datetime.datetime(2012, 1, 27, 0, 0), 'grade': 'A', 'score': 7}],
  'name': "Wendy'S",
  'restaurant_id': '40386062'}]

In [10]:
cursor = collection.distinct ('borough')
res = list(cursor)
res

['Bronx', 'Brooklyn', 'Manhattan', 'Missing', 'Queens', 'Staten Island']

In [11]:
cursor = collection.find({'name':"Wendy'S", 'borough':"Bronx"})
res = list(cursor)
res [:1]

[{'_id': ObjectId('6049400e32c9cd22009c6502'),
  'address': {'building': '3636',
   'coord': [-73.8421735, 40.8794229],
   'street': 'Boston Road',
   'zipcode': '10469'},
  'borough': 'Bronx',
  'cuisine': 'Hamburgers',
  'grades': [{'date': datetime.datetime(2014, 11, 17, 0, 0),
    'grade': 'A',
    'score': 9},
   {'date': datetime.datetime(2014, 6, 25, 0, 0), 'grade': 'A', 'score': 3},
   {'date': datetime.datetime(2013, 6, 14, 0, 0), 'grade': 'A', 'score': 7},
   {'date': datetime.datetime(2012, 6, 6, 0, 0), 'grade': 'A', 'score': 6},
   {'date': datetime.datetime(2012, 1, 27, 0, 0), 'grade': 'A', 'score': 7}],
  'name': "Wendy'S",
  'restaurant_id': '40386062'}]

In [12]:
cursor = collection.find({'name':"Wendy'S"},{'borough':1, 'cuisine':1, '_id':0}) #include: 1, exclude:0
res = list(cursor)
#res [:10]

In [13]:
cursor = collection.distinct ('cuisine')
res = list(cursor)
#res

In [14]:
cursor = collection.find({'borough':"Brooklyn", 'cuisine':"American"},{'name':1, '_id':0}) #include: 1, exclude:0
res = list(cursor)
#res

In [15]:
cursor = collection.find({'name': {'$regex':"(?i)w(?-i)en"}},{'_id':0, 'borough':1, 'name':1})
#'$regex':"(?i) --starts case insensitive search
# (?-i) end case insensitive search
res = list(cursor)
res[:10]

[{'borough': 'Brooklyn', 'name': "Wendy'S"},
 {'borough': 'Bronx', 'name': "Wendy'S"},
 {'borough': 'Bronx', 'name': "Wendy'S"},
 {'borough': 'Manhattan', 'name': "Wendy'S"},
 {'borough': 'Queens', 'name': "Wendy'S"},
 {'borough': 'Queens', 'name': "Wendy'S"},
 {'borough': 'Queens', 'name': "Wendy'S"},
 {'borough': 'Brooklyn', 'name': "Wendy'S"},
 {'borough': 'Brooklyn', 'name': "Wendy'S"},
 {'borough': 'Brooklyn', 'name': "Wendy'S"}]

In [16]:
cursor = collection.find({'borough':"Brooklyn", '$or':[
                                                        {'cuisine':"American"},
                                                        {'cuisine':"Hamburgers"}
                                                      ]
                         },{'_id':0, 'name':1})

res = list(cursor)
res[:10]

[{'name': "Wendy'S"},
 {'name': 'Riviera Caterer'},
 {'name': 'Regina Caterers'},
 {'name': 'C & C Catering Service'},
 {'name': 'The Movable Feast'},
 {'name': 'White Castle'},
 {'name': 'Mejlander & Mulgannon'},
 {'name': "Sonny'S Heros"},
 {'name': "Junior'S"},
 {'name': 'Towne Cafe'}]

In [17]:
cursor = collection.find({'$or':[
                                 {'cuisine':"American"},
                                 {'cuisine':"Hamburgers"},
                                 {'borough':"Brooklyn"},
                                 {'borough':"Bronx"}
                                ]
                         },{'_id':0, 'name':1})
res = list(cursor)
res[:10]

[{'name': "Wendy'S"},
 {'name': 'Morris Park Bake Shop'},
 {'name': 'Riviera Caterer'},
 {'name': 'Brunos On The Boulevard'},
 {'name': 'Regina Caterers'},
 {'name': "Wilken'S Fine Food"},
 {'name': 'Taste The Tropics Ice Cream'},
 {'name': 'Wild Asia'},
 {'name': 'C & C Catering Service'},
 {'name': 'May May Kitchen'}]

In [18]:
cursor = collection.find({'$or':[
                                 {'cuisine':"American"},
                                 {'cuisine':"Hamburgers"},
                                 {'borough':"Brooklyn"},
                                 {'borough':"Bronx"}
                                ],
                          
                          '$and':[
                                 {'address.coord': {'$gte': -73}},
                                 {'address.coord': {'$lt': 40}}
                                ]
                         },{'_id':0, 'name':1, 'cuisine':1, 'address.street':1})
res = list(cursor)
#res

In [19]:
cursor = collection.aggregate(
                              [
                                {'$match':{'address.zipcode': '10452'}},
                                {'$project':{'_id':0, 'name':1}}
                              ])
res = list(cursor)
res [:3]

[{'name': 'Munchtime'},
 {'name': 'Feeding Tree Style West Indian Restaurant'},
 {'name': 'La Sabrosura'}]

In [20]:
cursor = collection.aggregate([
    
    {'$match':{'cuisine': 'American'}},
    {'$group':{'_id': '$borough', 'American restaurants':{'$sum': 1}}},
      
])
"""When used in the $group stage, $sum has the following syntax and returns the collective sum of all 
the numeric values that result from applying a specified expression to each document in a group of 
documents that share the same group by key:"""


results = list(cursor)
results[:]

[{'_id': 'Bronx', 'American restaurants': 411},
 {'_id': 'Staten Island', 'American restaurants': 244},
 {'_id': 'Queens', 'American restaurants': 1040},
 {'_id': 'Brooklyn', 'American restaurants': 1273},
 {'_id': 'Missing', 'American restaurants': 10},
 {'_id': 'Manhattan', 'American restaurants': 3205}]

In [21]:
cursor = collection.aggregate([
    
    {'$match':{'cuisine': 'American'}},
    {'$group':{'_id': '$borough', 'American restaurants':{'$sum': 1}}},
    {'$sort': {'American restaurants':-1}}
      
])
"""sort("name", 1) #ascending
sort("name", -1) #descending"""
results = list(cursor)
results[:]

[{'_id': 'Manhattan', 'American restaurants': 3205},
 {'_id': 'Brooklyn', 'American restaurants': 1273},
 {'_id': 'Queens', 'American restaurants': 1040},
 {'_id': 'Bronx', 'American restaurants': 411},
 {'_id': 'Staten Island', 'American restaurants': 244},
 {'_id': 'Missing', 'American restaurants': 10}]

In [22]:
cursor = collection.aggregate([
    
    {'$match':{'cuisine': 'American'}},
    {'$group':{'_id': '$borough', 'American restaurants':{'$sum': 1}}}, #εδώ χρειάζεται το $borough. Γιατί όχι σκέτο;
    {'$sort': {'American restaurants':-1}},
    {'$limit': 3}
      
])

results = list(cursor)
results[:]

[{'_id': 'Manhattan', 'American restaurants': 3205},
 {'_id': 'Brooklyn', 'American restaurants': 1273},
 {'_id': 'Queens', 'American restaurants': 1040}]

In [23]:
cursor = collection.aggregate([
    
    {'$match':{'cuisine': 'American'}},
    {'$sample': { 'size': 1 }}

])
"""$sample
Randomly selects the specified number of documents from the input documents."""
results = list(cursor)
results

[{'_id': ObjectId('6049400f32c9cd22009cb5a0'),
  'address': {'building': '171',
   'coord': [-73.9648424, 40.657621],
   'street': 'East Drive',
   'zipcode': '11226'},
  'borough': 'Brooklyn',
  'cuisine': 'American',
  'grades': [{'date': datetime.datetime(2014, 6, 27, 0, 0),
    'grade': 'A',
    'score': 10}],
  'name': 'Bluestone Lakeside Cafe',
  'restaurant_id': '50005760'}]

In [25]:
cursor = collection.aggregate([
    
    {'$match':{'cuisine': 'American'}},
    {'$unwind': '$grades'},
    {'$group': {'_id': '$_id', 'name': {"$max":"$name"}, 'Average raiting': {'$avg': '$grades.score'}}},
    {'$project': {'name':1, 'Average raiting':{ '$round': [ "$Average raiting", 2 ] }, '_id':0}}
      
])

results = list(cursor)
#results[:]